#directoryResults {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    padding-top: 50px;

    

    .record {

        
        margin-bottom: 50px;
        background-color: $purple;
        border-radius: 30px;
        height: auto;
        padding: 20px;
        padding-top: 5px;


        @include phone {width: 95vw;}
        @include tablet {width: 90vw;}
        @include laptop {width: 90vw;}
        @include desktop {width: 45vw;}

        h3 {
            color: $white;
            font-family: "Nunito";
            text-align: center;
            font-size: 1.5em;  
            margin-top: 7.5px;
        }

        table {
            width: 100%;
            border-radius: 5px;

            th {
                color: $white;
                font-family: "Nunito";
                text-align: center;
                
                text-underline-offset: 3px;
                background-color: #5f065f;


                @include phone {font-size: .9em !important;}
                @include tablet {font-size: .9em;}
                @include laptop {font-size: 1em !important;}
                @include desktop {font-size: 1.2em;}
            }

            td {
                color: $white;
                font-family: "Nunito";
                text-align: center;

                @include phone {font-size: .85em !important;}
                @include tablet {font-size: .85em !important;}
                @include laptop {font-size: 1.1em !important;}
                @include desktop {font-size: 1.2em;}

                a {
                    color: $white;
                    text-underline-offset: 4px;
                }

                a:hover {
                    color: #032d53;
                }
            }

            tr:nth-child(even) {
                background-color: #63097e;
            }
            

            tr:nth-child(odd) {
                background-color: #870dac;
            }
        }
    }

}

@media print {

    #nav, form, #pageTitle, footer {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    #directoryResults {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: space-around;
        padding-top: 0px;
    
        .record {

            break-inside: avoid-page;
    
            counter-increment: record-count;

            width: 49%;
            // margin-bottom: 50px;
            background-color: $purple;
            // border-radius: 30px;
            height: auto;
            padding: 0;
            margin: 0;
            margin-bottom: 5px;
    
            h3 {
                color: black;
                font-family: "Nunito";
                text-align: center;
                font-size: 14pt;  
                margin-top: 7.5px;
            }
    
            table {
                width: 100%;
                border-radius: 5px;

                th, td {
                    outline: 1px solid #ccc;
                }
    
                th {
                    color: black;
                    font-family: "Nunito";
                    text-align: center;
                    font-size: 8pt;
                    text-underline-offset: 3px;
                    background-color: #5f065f;
                }
    
                td {
                    color: black;
                    font-family: "Nunito";
                    text-align: center;
                    font-size: 9pt;
    
                    a {
                        color: black;
                        text-underline-offset: 4px;
                    }
    
                    a:hover {
                        color: #032d53;
                    }
                }
    
                tr:nth-child(even) {
                    background-color: #63097e;
                }
                
    
                tr:nth-child(odd) {
                    background-color: #870dac;
                }

                .fullName {
                    font-size: 8pt;
                }

                .plotOwner {
                    font-size: 7pt;
                }

                .burialDate {
                    font-size: 7pt;
                }
            }
        }

        
    
    }
}