body {
    min-height: 100%;
    height: auto;
    padding-bottom: 2vh;    

    @include phone {
        overflow: auto;
        overscroll-behavior: none;
    }

    @include tablet {
        overflow: auto;
        overscroll-behavior: none;
    }

    @include laptop {
        overflow-x: clip;
    }

    @include desktop {
        overflow-x: clip;
    }
    

    #pageTitle {
        width: 100%;
        position: relative;
        margin: 0 auto;
        text-align: center;
        height: auto;

        h1 {
            position: relative;
            display: inline-block;
            border-radius: 100px;
            width: auto;

            top: 25px;
            color: $white;
            font-family: "Red Rose";
            text-align: center;
            margin: 10px;
            background-color: $purple;
            text-align: center;
			padding: 10px 20px;
			clear: right;
			margin-bottom: 75px;


            @include phone {}
            @include tablet {}
            @include laptop {}
            @include desktop {font-size: 2em;}
        }

        

    }
    

}