@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@font-face {
  font-family: "Red Rose";
  src: url("fonts/RedRose-Bold.ttf");
}

@font-face {
  font-family: "Cursive";
  src: url("fonts/cursive.ttf");
}

body {
  min-height: 100%;
  height: auto;
  padding-bottom: 100px;
}

body nav {
  width: 100%;
  background-color: purple;
  display: block;
  border-radius: 10px;
  font-family: "Red Rose";
  text-align: center;
  height: auto;
}

body nav #logo {
  width: 100%;
  font-size: 30px;
  color: white;
  height: auto;
  padding: 20px;
  font-family: "Red Rose";
}

body nav ul {
  width: 100%;
  display: inline-block;
  position: relative;
  width: auto;
  list-style: none;
  margin: 0 auto;
  bottom: 20px;
}

body nav ul li {
  font-size: 25px;
  list-style: none;
  position: relative;
  right: 0;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: auto;
}

body nav ul li a {
  text-align: center;
  width: 200px;
  display: block;
  clear: left;
  text-decoration: none;
  color: purple;
  font-weight: bolder;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

body nav ul li:hover a {
  color: black;
}

body #pageTitle {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: auto;
}

body #pageTitle h1 {
  position: relative;
  display: inline-block;
  top: 25px;
  color: white;
  font-family: "Red Rose";
  text-align: center;
  margin: 10px;
  background-color: purple;
  border-radius: 10px;
  text-align: center;
  padding: 10px 40px;
  clear: right;
  margin-bottom: 100px;
}

body article {
  text-align: center;
  margin-bottom: 60px;
}

body article h1.title {
  font-size: 50px;
  font-family: "Secular One";
  color: purple;
  margin: 0;
}

body article p {
  font-size: 30px;
  text-align: left;
  position: relative;
  left: 33%;
  margin: 0 auto;
  font-family: "Nunito";
  font-weight: bold;
  padding: 10px 0;
}

body article p a {
  text-decoration: none;
  color: #9603bb;
}

body article p a:hover {
  color: #109aeb;
}

body article h2 {
  font-family: "Secular One";
  font-size: 2.75em;
  margin: 5px;
}

body article h3 {
  font-family: "Secular One";
  font-size: 2em;
}

body article h4 {
  font-family: "Secular One";
  font-size: 1.2em;
}

body article ul li {
  list-style: none;
  font-family: "Quicksand";
  font-size: 2em;
  padding: 2.5px;
}

body article ul li span.day {
  font-weight: bolder;
  color: black;
}

body article ul li span.hours {
  color: purple;
  font-weight: bold;
}

body .member {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: purple;
  width: 50%;
  border-radius: 30px;
  height: auto;
  padding: 60px;
}

body .member .profilePicture img {
  padding-top: 50px;
  width: 30%;
  height: auto;
}

body .member .member_info .membership_title {
  font-size: 3em;
  font-family: "Nunito";
}

body .member .member_info h2 {
  font-family: "Secular One";
}

body .member .member_info .membership_length {
  font-size: 2em;
  font-family: "Red Rose";
}

body .member .member_info .contact_info h3 {
  font-size: 1.75em;
  text-align: left;
  position: relative;
  left: 15%;
}

body .member .member_info .contact_info a {
  font-size: 1em;
  font-family: "arial";
  text-decoration: none;
  color: #2db0fb;
}

body form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

body form input {
  padding: 10px;
  font-size: 18px;
  width: 175px;
  font-family: "Red Rose";
  text-align: center;
}

body form label {
  padding: 10px;
  font-size: 25px;
  position: relative;
  bottom: -4px;
  font-weight: bold;
  font-family: "Red Rose";
  padding-left: 50px;
}

body form select {
  width: 175px;
  font-size: 18px;
  text-align-last: center;
  height: 50px;
  margin-right: 10px;
}

body .center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body .center #blockID {
  font-size: 1.5em;
  padding: 10px;
}

body #results {
  padding-top: 20px;
  font-size: 28px;
}

body #results .resultMessage {
  width: 80%;
  font-size: 1.4em;
  background-color: purple;
  color: white;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  font-family: "Red Rose";
}

body #results .resultMessage span {
  font-weight: bolder;
}

body #results .resultMessage:hover {
  font-weight: bolder;
}

body #results .errorMessage {
  width: 75%;
  background-color: #8a0909;
  color: white;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
}

body #results .errorMessage span {
  font-weight: bolder;
}

body #results .results {
  height: auto;
  width: 60%;
  font-size: 16px;
  background-color: white;
  color: purple;
  outline-color: black;
  border-radius: 6px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

body #results .results img {
  padding-top: 30px;
  width: 90%;
  height: auto;
}

body #results .results div {
  background-color: purple;
  color: white;
  margin: 30px auto;
  padding: 20px;
  border-radius: 50px;
  width: auto;
}

body #results .results div .emailInfo {
  text-decoration: none;
  font-family: "Red Rose";
  font-size: 25px;
  color: purple;
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

body #results .results div img {
  width: 50%;
  height: auto;
}

body #results .results div h1 {
  font-family: "Red Rose";
  font-size: 2em;
}

body #results .results div h3 {
  font-family: "Red Rose";
  font-size: 1.7em;
}

body #results .results div span.fullName {
  font-family: "Red Rose";
  font-size: 1.5em;
  font-weight: bold;
}

body #results .results div div.moreDetails {
  width: auto;
  height: auto;
  z-index: 1;
}

body #results .results div div.moreDetails h2 {
  font-family: "Red Rose";
  font-size: 2em;
  background-color: white;
  color: purple;
  font-weight: bolder;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

body #results .results div .details {
  width: auto;
  display: none;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 50px;
}

body #results .results div .details img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  height: auto;
}

body #results .results div .details .gravestone {
  width: 75%;
}

body #results .results div .details .obituary {
  width: 80%;
}

body #results .results div .details h3 {
  position: relative;
  left: 15%;
  margin: 0px;
  padding: 5px;
}

body #results .results div .details span {
  color: white;
  font-size: 1.25em;
  font-weight: bolder;
  position: relative;
  left: 15px;
}

body #results .results div .details span a {
  text-decoration: none;
  position: relative;
  color: white;
}

body #results .results div .details span a:hover {
  color: #2ff1f5;
}

body .svg {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

body .svg svg {
  width: 100%;
  height: auto;
  z-index: -1;
}

body .svg svg rect {
  background-color: aqua;
}

body .mapSelection {
  margin: 0 auto;
  height: 200px;
  margin-bottom: 175px;
  width: 100%;
}

body .mapSelection h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  margin-bottom: 20px;
  font-family: "Red Rose";
  color: purple;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: purple;
}

body .mapSelection ul {
  position: relative;
  right: 50px;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  height: auto;
  text-align: center;
}

body .mapSelection ul li {
  position: relative;
  right: 0;
  display: inline-block;
  list-style: none;
  width: 25%;
  font-size: 2.75em;
  padding-bottom: 30px;
  padding: 10px;
  background-color: purple;
  border-radius: 40px;
  margin: 0 30px;
  color: white;
  font-family: "Red Rose";
}

body .mapSelection p {
  position: relative;
  top: 15px;
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  font-family: "Red Rose";
}

body .lotStatus {
  padding-bottom: 350px;
}

body .lotStatus .mapIndex {
  margin: 50px auto;
  width: 25%;
  background-color: white;
  border-radius: 20px;
  border: 15px solid purple;
  clear: left;
}

body .lotStatus .mapIndex h1 {
  font-size: 2.5em;
}

body .lotStatus .mapIndex h2 {
  position: relative;
  left: 17%;
  font-family: "Secular One";
  font-size: 1.6em;
}

body .toTop {
  color: white;
  background: purple;
  width: 45%;
  text-align: center;
  padding: 10px;
  margin: 100px auto;
  border-radius: 20px;
  font-size: 1.2em;
  font-family: "Red Rose";
}

footer {
  background: purple;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: block;
  float: left;
  z-index: 10;
}

footer p {
  color: white;
  font-size: 24px;
  font-family: "Red Rose";
  text-align: center;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  body nav {
    width: 100% !important;
  }
  body nav #logo {
    font-size: 22px;
  }
  body nav ul {
    width: 100%;
  }
  body nav ul li {
    display: block;
    width: 100%;
    clear: left;
    margin: 0 auto;
  }
  body nav ul li a {
    position: relative;
    width: 50%;
    left: 20%;
  }
  body #pageTitle h1 {
    width: 75%;
    font-size: 1.75em;
  }
  body #results {
    width: 100%;
  }
  body #results .resultMessage {
    font-size: 1em;
    width: 95%;
  }
  body #results .results {
    width: 90%;
  }
  body .homePage h2 {
    font-size: 28px;
  }
  body .homePage h4 {
    font-size: 18px;
    text-align: left;
    padding: 0 20px;
  }
  body .member {
    width: 90%;
    padding: 10px;
  }
  body .member .profilePicture {
    width: 100%;
    margin: 0;
  }
  body .member .member_info {
    color: white;
  }
  body .member .member_info .membership_title {
    font-size: 2.2em !important;
  }
  body .member .member_info .name {
    font-size: 30px;
    color: black;
  }
  body .member .member_info .membership_length {
    font-size: 25px !important;
  }
  body .member .member_info .email {
    left: 8% !important;
    font-size: 1em !important;
    left: 20px;
  }
  body .member .member_info .phone {
    font-size: 1.5em !important;
    color: black;
  }
  body .cemeteryMaps h1 {
    font-size: 3em;
    margin: 0;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  body .cemeteryMaps ul {
    width: 100% !important;
  }
  body .cemeteryMaps ul li {
    font-size: 18px;
  }
  body .cemeteryMaps p {
    font-size: 18px;
  }
  body #results .resultMessage {
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
  }
  body #results .profilePicture {
    width: 75% !important;
    height: auto;
    padding-bottom: 30px;
  }
  body #results span.fullName {
    font-size: 40px !important;
  }
  body #results h3 {
    font-size: 20px !important;
  }
  body #results .moreDetails {
    margin: 0 !important;
  }
  body #results .moreDetails h2 {
    margin: 0 auto !important;
    width: 80% !important;
  }
  body #results .details {
    padding: 0 !important;
    padding-bottom: 20px !important;
  }
  body #results .details h3 {
    left: 5% !important;
    font-size: 18px !important;
  }
  body #results .details h3 span {
    font-size: 22px !important;
  }
  body #results .details img {
    width: 90% !important;
    height: auto;
  }
  body #results .errorMessage {
    font-size: 20px;
  }
  body #results .toTop {
    font-size: 24px !important;
    margin: 0;
    width: 75%;
    margin: 0 auto;
  }
  body form {
    width: 100%;
    margin-top: -50px;
  }
  body form label {
    padding: 0;
    display: block;
    padding: 10px;
  }
  body form input {
    margin-bottom: 10px !important;
    display: block;
    margin: 0 auto;
  }
  body form input:last-child {
    margin-top: 20px;
  }
  body form #submit {
    margin-top: 20px;
    margin: 20px auto;
  }
  body .contacts .title {
    font-size: 30px;
  }
  body .contacts p {
    font-size: 20px;
    left: 5%;
  }
  body .contacts ul h2 {
    font-size: 30px;
  }
  body .contacts ul li {
    font-size: 24px !important;
  }
  body .contacts h3 {
    font-size: 20px;
  }
  body footer .copyright {
    font-size: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */